<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify Top Items</title>
  <link rel="stylesheet" href="/static/mainStyles.css">
</head>
<body>
  <button class="logout" onclick="logout()"><img class="profile_pic" src="{{ profile_pic['url'] }}">Logout</button>
  <div class="form-container">
    <form class="data-type-form" action="{{ url_for('home') }}" method="get">
      <label for="time_range">Select Time Range:</label>
      <select name="time_range" id="time_range">
        <option value="short_term" {% if selected_range == 'short_term' %}selected{% endif %}>Last Week</option>
        <option value="medium_term" {% if selected_range == 'medium_term' %}selected{% endif %}>Last Month</option>
        <option value="long_term" {% if selected_range == 'long_term' %}selected{% endif %}>Last Year</option>
      </select>
      
      <label for="data_type">Select Data Type:</label>
      <select name="data_type" id="data_type">
        <option value="artists" {% if selected_data_type == 'artists' %}selected{% endif %}>Top Artists</option>
        <option value="tracks" {% if selected_data_type == 'tracks' %}selected{% endif %}>Top Tracks</option>
      </select>
      
      <button class="submit-button" type="submit">Submit</button>
    </form>
  </div>
  

  <script>
    function submitForms() {
      document.querySelector('.time-range-form').submit();
      document.querySelector('.data-type-form').submit();
    }
  </script>

  <div class="content">
    <div class="cube">
      {% for item in items %}
        <button class="orb" data-item="{{ item['name'] }}">
          <img src="{{ item['image'] }}" alt="{{ item['name'] }}">
        </button>
      {% endfor %}
    </div>

    <ul class="list">
      <h3>Recommended Tracks</h3>
      {% for item in recommendations %}
        <li>{{ item["name"] }} Author: {{ item["artist"] }}</li>
      {% endfor %}
    </ul>
    <form action="{{ url_for('add_to_playlist') }}" method="post">
      <input type="hidden" name="tracks" value="{{ recommendations }}">
      <button type="submit" class="add-button">Add Recommended Tracks to Playlist</button>
    </form>
  </div>
</div>

  <script src="/static/script.js"></script>
  <script src="/static/login.js"></script>
  <script>
    async function logout() {
      data = await fetchData("http://127.0.0.1:8888/api/Logout");
      window.location.href = "http://127.0.0.1:5000"
    }
  </script>
</body>
</html>