<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Login</title>
</head>
<body>
    <h1>Login with Spotify</h1>
    <button class="login" onclick="login()"> Login to Spotify</button>
</body>
<script src="/static/login.js"></script>
<script>
async function login() {
    data = await fetchData("{{login_url}}");
    console.log(data);
    if (data) {
        window.location.href = window.location.href + "home"
    } else {
        console.log("Error fetching data");
    }
}
</script>
</html>
